name: Build

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-20.04
    permissions:
      id-token: write # For Sigstore Signing
    steps:
    - name: Check out code
      uses: actions/checkout@v2

    - name: Restore tool cache
      id: tool-cache
      uses: actions/cache@v2
      with:
        path: |
          .tmp
        key: ${{ runner.os }}-tool-${{ hashFiles('Makefile') }}

    - name: Bootstrap
      if: steps.tool-cache.outputs.cache-hit != 'true'
      run: make bootstrap

    # - name: Run tests
    #   run: make test

    - name: Build all artifacts
      id: build
      run: make build

    - uses: scribe-security/action-bom@master
      id: attest-slsa-release
      name: Policy Bundle Attest
      with:
        verbose: 2
        target: file:${{ steps.build.outputs.BUNDLE }}
        format: attest-slsa
