
name: .release

on:
  workflow_call:
    secrets:
      RELEASE_GITHUB_TOKEN:
        required: true
      registry_password:
        required: true   
    inputs:
      GITHUB_USER:
        type: string
        required: true
      registry:
        type: string
        required: true
      registry_username:
        type: string
        required: true
      IS_DEV:
        type: string

jobs:
  release:
    name: reusable_release
    runs-on: ubuntu-20.04
    permissions:
      contents: write
    steps:
    - name: Check out code
      uses: actions/checkout@v2

    - name: Restore tool cache
      id: tool-cache
      uses: actions/cache@v2
      with:
        path: |
          .tmp
        key: ${{ runner.os }}-tool-${{ hashFiles('Makefile') }}

    - name: Bootstrap
      if: steps.tool-cache.outputs.cache-hit != 'true'
      run: make bootstrap

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ${{ inputs.registry }}
        username: ${{ inputs.registry_username }}
        password: ${{ secrets.registry_password }}
    
    - name: Release-Artifacts
      run: make release

    - name: Release-Github
      uses: softprops/action-gh-release@v1
      with:
        files: dist/bundle*.tar.gz
        # draft: true

